body,html{width:100%;height:100%;overflow: hidden;font-family: 'Microsoft Yahei';color:#fff;}

/*==================== head ====================*/
.head{width:980px;height:45px;border: 1px solid #eee;position:fixed;top:80px;left:50%;margin-left:-490px;z-index: 3;}
.title{width:100%;height:100%;}
.title li{float:left;width:196px;height:100%;text-align: center;line-height: 30px;}
.title li.ml{margin-left:196px;}
.title li a{color: #fff;font-size: 20px;text-decoration: none;font-size: 16px;font-weight: 500;letter-spacing: 3px;}


.home{position:absolute;left:50%;top:50%;width:80px;height:80px;margin-left:-40px;margin-top:-45px;border-radius: 50%;}
.home img{width:100%;height:100%;border-radius: 50%;}


/*==================== container ====================*/
.container{width:100%;overflow: hidden;}
.container .page{width:100%;background-size: cover;overflow: hidden;position: relative;}
.page0{background: url(../images/bg0.jpg);}
.page1{background: url(../images/bg1.jpg);}
.page2{background: url(../images/bg2.jpg);}
.page3{background: url(../images/bg3.jpg);}
.page4{background: url(../images/bg4.jpg);}
/*第一屏*/
.context1,.context2{margin:260px auto 0;width:980px;height:300px;text-align:center;}
	.context1 h5{font: 35px/40px 'Microsoft Yahei';font-weight: 500;letter-spacing: 5px;}
	.context1 p{padding:40px 70px 0;font: 20px/30px 'Microsoft Yahei';font-weight: 500;letter-spacing: 3px;}
	.context1 div{padding:90px 0 0;}
/*第二屏*/
.context2{margin:200px auto 0;width:980px;height:400px;position: relative;}
	/*第二屏left*/
	.page1_left{float:left;width:400px;height:400px;text-align: left;padding:30px 0 0;box-sizing:border-box;}
	
	.page1_left span{opacity: 0;color: rgba(0,0,0,0);text-shadow: 0 0 5px #fff;-webkit-transition: 0.3s all ease;transition: 0.3s all ease;border-bottom: 1px solid #fff;font: 16px/30px 'Microsoft Yahei';padding:5px 0;}
	.page1_left span.cur{opacity: 1;text-shadow: 0 0 0 #fff;}

		/*第二屏right*/
	.page1_right{float:right;width:400px;height:400px;background: #ccc;}
	.p1_btn{position: absolute;left:;
	    width: 140px;
	    height: 35px;
	    margin: 100px;
	    /*background: url(../images/paopao.png) top left,url(../images/paopao.jpg) right bottom,-webkit-linear-gradient(top, #f1982f, #d4821f);*/
	    background: #16A085;
	    transition: all 1s ease 0s;
	    border-radius: 15px;
	    cursor: pointer;
	    bottom: -50px;
	    left: 20px;
	    color: #fff;
	    text-align: center;
	    font: 14px/35px "微软雅黑","宋体";
		}



